<style type="text/css" media="screen">

 .twitter-share-button a {

    display: block;

    padding: 2px 5px 2px 20px;

    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;

    border: 1px solid #ccc;

  }

</style>
<div class="fb-send" data-href="http://example.com" data-font="arial"></div>
<div>

<%= form_for(@dare, :remote => true) do |f| %>
  <% if @dare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dare.errors.count, "error") %> prohibited this wish from being saved:</h2>

      <ul>
      <% @dare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br />
Who would you challenge?
  <div class="new-wish">

    <%= f.text_area :challengee_twitid, :size => "30x1", :placeholder => "Twitter handle of friend" %>
  </div>
  <div class="field-hidden">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
    <div class="field-hidden">
    <%= f.label :wish_id %><br />
    <%= f.number_field :wish_id %>
  </div>
  <div class="flex-button">

    <%= f.submit "Challenge" %>

  </div>
<% end %>

<%# link_to("Tweet", tweet_wish_path, :class=>"twitter-share-button") %>

