  <div class="stream-item">
  <div class="left-user">
  <%= image_tag(@wish.user.avatar.url, :class => 'avatar-small') if @wish.user.avatar? %>&nbsp;
  </div>
<div class="wish">
    <div class="wish-header"><span class="wisher">
    <%= @wish.user.username if @wish.user %>
	</span></div>
	<div class="wish-body">
	<%= @wish.wish %> 
</div>
</div>
</div>
<div class="echo-footer">
<div id="close">
<span id="close" class="g_button3" >Cancel</span></div>
<%= link_to echo_wish_path(@wish.id), remote: true, :class => "b_button3"  do %>
	    Echo <%= image_tag('echo2.gif', :class => 'echo-teeny')  %>
		<% end %>

</div>


<script>

$(document).ready(function (){
  
  $('#close').click(function(){
   $('div#modal-container2').hide("slow");
   //$('div#echo-popup').html("");
  });

});

</script>