




<div class="main">
<h3>&nbsp;Get High School Credit for what <i>you</i> want to do.</h3>


<div id="featured">
<%= image_tag("apprentice4.jpg", :id => "main-pic", :alt => "cc Sorceress' Apprentice by Sheryl Westleigh", :title => "cc Sorceress' Apprentice by Sheryl Westleigh") %>
<%# image_tag("dragon.jpg", :id => "main-pic", :alt => "CC Julian Lee") %>
<%# image_tag("cafe.jpg", :id => "main-pic") %>

<div class="col-right">




<div id="feature_text2">
<div id="main_text">
<div id="intro">
</div>
<p >Take a trip, get an internship, do research, start a business, take a class outside school, go to iTunesU, you name it!
</p>
<i>Your</i> school grants the credit.<br /> 
</div>
<iframe width="200" height="150" src="http://www.youtube.com/embed/yAg1pNu2eWY" frameborder="0" allowfullscreen></iframe>
  <p class="learn_more">
      <%= link_to("Explore", lycee_path) %> &nbsp; &nbsp; &nbsp;
    <%= link_to("Learn more", resources_path) %>.
  </p>
  <div id="fb">
    <%= link_to("Students at Reynoldsburg explain in a cool infographic!", "../infographic.png") %> <p style="display:none" class="not_ohio"><a href="http://peerbackers.com/projects/10000-creit-flex-students-by-2013" target="blank">Help spread the word and get 10,000 students on CreditFlex</a> Not in Ohio? Credit Flexibility may be coming to your state!
  </p>
  </div>
<div id="caption">
</div>
</div>








<div id="content-wishes2" class="wrapper">
<div id="column-1">
<div id="wish-list">
<div class="stream_header">
<h2>What would you master?</h2>
...for credit in school?
<div class="new-wish">
<%= render 'form1' %>


</div>
</div>

<div id="wish-stream">
<%= render 'wish_stream' %>
</div>

<div class="stream_footer">
<%= link_to 'New Wish', new_wish_path %>
</div>
</div>
</div>


</div>



</div>



<div id="lower-left">

<div id="projects1">
 <div class="clearfix" id="projects_bar">
<div class="t_band">

 Who's Used Credit Flex?<br />&nbsp;</div>
<% @projects[0..3].each do |project| %>
<div id="projects_item">
	<div class="item_desc3">
		
		<b><%= raw(truncate(project.title, :length => 140, :separator => ' ')) %> </b>
		<%# image_tag( project.projekt.url.to_s, :class => "projekt") if project.projekt? %>
		<p>&nbsp;<%= raw(truncate(project.summary, :length => 100, :separator => ' ')) %> <%= link_to("more", project) %></p>
	</div>
</div>
<% end %>
</div>
<div class="more1" >
<%= link_to("More", projects_path, ) %>
<%# link_to(image_tag("right_arrow.png", :class => "right_arrow"), projects_path, ) %>
</div>

<br /><%=link_to("Tell us about your CF project", new_project_path, :id => "add_project", :class => "add_button3") %>
</div>


</div>




<div id="modal-container" class="modal-container">
<div id="challenge-popup">
<div id="modal-header">
<div id="modal-close"><span id="modal-close">X</span></div>
<div class="modal-title"> Challenge: </div>
<div id="challenge-title">Title</div>
</div>
<div id="badge" class="small-badge">

</div>
<div id="modal-body" class="modal-body">

</div>
</div>
</div>

<div id="modal-container2" class="modal-container">
<div id="echo-popup">
<div id="modal-header">
<div id="modal-close"><span id="modal-close2">X</span></div>
<div class="modal-title"> </div>
<div id="challenge-title">Title</div>
</div>
<div id="modal-body2" class="modal-body">

</div>
</div>
</div>

<script>



$(document).ready(function (){
  
    $(document).ready(function (){
    
	      $('#modal-close').hover(function(){
   $('span#modal-close').toggleClass('modal-hover');
  });
        $('#modal-close').click(function(){
   $('div#modal-container').hide("slow");
   //$('div#echo-popup').html("");
  });
  
//
});

 

      $('#modal-close2').hover(function(){
   $('span#modal-close2').toggleClass('modal-hover');
  });
  
      $('#modal-close2').click(function(){
   $('div#modal-container2').hide("slow");
   //$('div#echo-popup').html("");
  });
  
        $('#close').click(function(){
   $('div#modal-container2').hide("slow");
   //$('div#echo-popup').html("");
  });
     $('a#echo-button').click(function(){
   alert("Bing");
   $('div#modal-container2').hide("slow");
   //$('div#echo-popup').html("");
  });
//
});

</script> 
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>