<div class="content_course_outer">
<div class="content_course_inner">
<p id="notice"><%= notice %></p>



  <b>You want to learn:</b><br />
  <div id="moz-cred">
  <%= image_tag("we_issue.png", :id => "moz-cred1", :alt => "Mozilla Issuer Insignia", :title => "Mozilla Badge Issuer Insignia") %>
</div>
  <div class="wish_title"><%= @wish.wish %></div>
<div id="upload-image">Add an image for your challenge</div>
<div id="challenge_options">
<p>Well, don't just sit there wishing...</p>



<%= link_to("Start designing your challenge.", new_challenge_path(:wish => @wish), :id => "1", :class => "b_button") %>
<p>
<%= link_to("I found a badge I'd like to earn and get credit for.", new_badge_path, :id => "add_badge", :class => "b_button") %>
</p>
<%= link_to("Not yet. Let's see more of what others are doing.", lycee_path, :id => "add_project", :class => "b_button2") %>
</div>

</div><div>
<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
<%= @wish.user.avatar? %>
</div>

<div id="modal-container5" class="modal-container5">
<div id="upload-dialogue" class="uploader-popup">


</div>
</div>

<script>

$(document).ready(function (){


$('div#upload-image').click(function(){

  $.get('/challenges/add_image.js');

//   $('div#modal-container5').show();
//    .done(function(data) {
// $('div#upload-dialogue').html(data)
// });
   
   
   
 //  $('div#image-upload').html($.get("add_image"));
});

    $('div#upload-image').hover(function(){
   $('div#upload-image').toggleClass('show-welcome-hover');
  });
});
</script>
