<h1>Who's Using Credit Flexibility?</h1>


<div id="featured">

<%= image_tag("cafe.jpg", {:height => 360}) %>
<div id="feature_text">
<div id="main_text">
<div id="intro">
Credit Flexibility is the new way to get credit toward high school graduation by <i>doing almost anything</i>.</div>
<p>Take a trip, get an internship, do research, start a business, take a class outside school, go to iTunesU, you name it!
</p>

<p class="learn_more">Want to learn more? <br />Visit <a href="http://www.facebook.com/pages/Ohio-Credit-Flexibility/177300152280207" target="blank">Ohio Credit Flexibility on Facebook</a> or <%=link_to("get the poop here", resources_path) %>.</p><p></p><p></p>
<p style = "display:none" class="not_ohio">Not in Ohio? Credit Flexibility may be coming to your state!</p>
</div>
<div id="caption"><br /><br />
Want your project featured here? <br/>Send us a pic and description.
</div>
</div>
</div>




<div id="projects">
 <div class="clearfix" id="projects_bar">
<div class="t_band">
<%= image_tag("penguin.png", :class => "penguin") %>
 <h3>Site credits</h3></div>

Most of the wonderful iconic images here are from the fantastic contributors to <%=  link_to("OpenClipart.org", 'http://openclipart.org' )  %>
<%= link_to(image_tag("right_arrow.png", :class => "right_arrow"), projects_path, ) %>
</div>
<br /><%=button_to("Home", lycee_path, :id => "add_project", :class => "add_button") %>
</div>





