<h1>Who Helped Here?</h1>


<div id="featured">

<%= image_tag("cafe.jpg", {:height => 360}) %>
<div id="feature_text">
<div id="main_text">
<div id="intro">
Giving students more options for rigorous, relevant learning is what we're all about here. <p>We couldn't have got it off the ground but on the shoulders of others!</p></div>



</div>
<div id="caption"><br /><br />

</div>
</div>
</div>




<div id="projects">
 <div class="clearfix" id="projects_bar">
<div class="t_band">
<%= image_tag("penguin.png", :class => "penguin") %>
 <h3>Images</h3></div>

Most of the wonderful iconic images here are from the fantastic contributors to <%=  link_to("OpenClipart.org", 'http://openclipart.org' )  %>

<p>The shot of the student robotics competion on the Learn More page  <a href="http://www.flickr.com/photos/nics_events/3416252377/">comes from</a> Flickr user Nic. </p>
<p>The photo of the USN Seals in trainig comes from <%= link_to('Rennett Stowe on Flickr', "http://www.flickr.com/photos/tomsaint/2705089414/") %>.
<p>The pic of students at a counter on the Learn More page was made available via Flickr by Tulane University:<%= link_to('counter pic', "http://www.flickr.com/photos/tulanesally/5887771701/sizes/m/in/photostream/") %></p>
</div>
<br />
</div>

<div id="requests">
 <div class="clearfix" id="projects_bar">
<div class="t_band">
<%= image_tag("penguin.png", :class => "penguin") %>
 <h3>Software</h3></div>

This site is build on the immense work done by the <%=  link_to("Ruby", 'http://ruby-lang.org' )  %> and <%=  link_to("RAILS", 'http://rubyonrails.org' )  %> Communities.</div>

Including the developers and contributors to these gems and others generously made available at <%=  link_to("Rubygems.org", 'http://rubygems.org' )  %>:
<ul>
<li> 'carrierwave'
#<li> 'rmagick'
<li> 'mini_magick'
<li> 'fog'

<li> "ckeditor", "3.7.0.rc2"
<li> 'rinku'

<li> 'make_voteable'


  <li> 'sass-rails',   '~> 3.2.3'
  <li> 'coffee-rails', '~> 3.2.1'
  <li> 'uglifier', '>= 1.0.3'


<li> 'jquery-rails', '>= 2.0.1'
<li> 'sorcery'
<li> 'cancan'
<li> 'fog'
<li> 'pry'
	#<li> 'eventmachine', "1.0.0.beta.4.1"
	#<li> 'thin'
	<li> 'sqlite3'

    

  <li> 'turn'



 <li> 'pg'

</ul>


</div>
<div class="clear"> .</div>


