<h1>Who's Using Credit Flexibility?</h1>


<div id="featured">

<%= image_tag("cafe.jpg", {:height => 360}) %>
<div id="feature_text">
<div id="main_text">
<div id="intro">
Credit Flexibility is the new way to get credit toward high school graduation by <i>doing almost anything</i>.</div>
<p>Take a trip, get an internship, do research, start a business, take a class outside school, go to iTunesU, you name it!
</p>

<p class="learn_more">Want to learn more? <br />Visit <a href="http://www.facebook.com/pages/Ohio-Credit-Flexibility/177300152280207" target="blank">Ohio Credit Flexibility on Facebook</a> or <%=link_to("get the poop here", requests_path) %>.</p><p></p><p></p>
<p class="not_ohio">Not in Ohio? Credit Flexibility may be coming to your state!</p>
</div>
<div id="caption">
Want your project featured here? <br/>Send us a pic and description.
</div>
</div>
</div>




<div id="projects">
 <div class="clearfix" id="projects_bar">
<div class="t_band">
<%= image_tag("presentation.png", :class => "penguin") %>
 <h3>Share Your Credit Flex Project</h3></div>
<% @projects.each do |project| %>
<div id="projects_item">
	<div class="item_desc">
		<b>Title</b> <%= truncate(project.title, :length => 140, :separator => ' ') %> <%= link_to("more", project) %>
		<p><b>I'm:</b> <%= truncate(project.summary, :length => 140, :separator => ' ') %> <%= link_to("more", project) %></p>
	</div>
</div>
<% end %>
</div>
<br /><%=link_to("Tell us about your CF project", new_project_path, :id => "add_project") %>
</div>










<div id="requests">
 <div class="clearfix" id="requests_bar">
<div class="t_band">
<%= image_tag("guitar_hero.png", :class => "penguin") %>
 <h3>Who's Looking for Help?<br />Students exploring creditflex</h3></div>
<% @requests.each do |request| %>
<div id="requests_item">
	<div class="item_desc">
		<b>Goals: </b> <%= truncate(request.goals, :length => 140, :separator => ' ') %> <%= link_to("more", request) %>
		<p><b>Help needed:</b> <%= truncate(request.help_needed, :length => 140, :separator => ' ') %> <%= link_to("more", request) %></p>
	</div>
</div>
<% end %>
</div>
<br /><%=link_to("Ask about credit flex", new_request_path, :id => "add_request") %>
</div>








<div id="lycee">
 <div class="clearfix" id="courses_bar">
<div class="t_band">
<%= image_tag("zt180_ecosystems.png", :class => "penguin") %>

<h3>What's Available?<br /><br />Approved online or non-traditional courses</h3></div> 
<% @courses.each do |course| %>
<div id="courses_item">
<div class="item_desc">
    <b><%= course.title %></b><br />
    <%= truncate(course.description, :length => 140, :separator => ' ') %> <%= link_to("more", course) %>
	<p><b>Subject: </b> <%= course.subject.name %></p>
    <p><b>Notes: </b> <%= truncate(course.notes, :length => 50, :separator => ' ') %> <%= link_to("more", course) %>
<br />
    <b><%= link_to("Course link", course.plan_url) %></b>
	</div>
</div>
<% end %>
</div>
<%=link_to("Add an approved course", new_course_path, :id => "add_course") %>
</div>

<div id="teachers">
<div class="t_band">
<%= image_tag("penguinredcross.png", :id => "penguin") %>
<h3>Who's Available to Help?<br /><br />Teachers </h3>
</div>
<div class="clearfix"  id="teachers_bar">
<% @teachers.each do |teacher| %>
<div id="teachers_item">
<div class="item_desc">
    <b><%= "#{teacher.title} " if teacher.title? %><%= teacher.name %></b><%= image_tag( teacher.avatar.url.to_s, :class => "t_avatar") if teacher.avatar? %><br />
    <%= truncate(teacher.bio, :length => 140, :separator => ' ') %> 
	<%= link_to("more", teacher) %>
	<p><b>Subject: </b> <%= teacher.subject %></p>
	</div>
</div>
<% end %>
</div>

 <div>
<%=link_to("Add teacher", new_teacher_path, :id => "add_mentor") %>
</div>
</div>

</div>