<h1>Who's Using Credit Flexibility?</h1>


<div id="featured">

<%= image_tag("cafe.jpg", {:height => 360}) %>
<div id="feature_text">
Credit Flexibility is the new way to get credit toward high school graduation by <i>doing almost anything</i>.
<p>Take a trip, get an internship, do research, start a business, take a class outside school, go to iTunesU, you name it!
</p>
<p>Want your project featured here? </p>
<p>Send us a pic and description.</p>
Want to learn more? Visit Ohio Credit Flexibility on Facebook and get in the discussion.
Or visit the Credit Flexibility pages at the Ohio department of Education.
</div>

</div>


<div id="requests">
 <div class="clearfix" id="requests_bar">
 <h3>Who's Looking for Help?<br />Students exploring creditflex</h3>
<% @requests.each do |request| %>
<div id="requests_item">
	<div class="item_desc">
		<b>Goals: </b> <%= truncate(request.goals, :length => 140, :separator => ' ') %> <%= link_to("more", request) %>
		<p><b>Help needed:</b> <%= truncate(request.help_needed, :length => 140, :separator => ' ') %> <%= link_to("more", request) %></p>
	</div>
</div>
<% end %>
</div>
</div>








<div id="lycee">
 <div class="clearfix" id="courses_bar">
 <h3>What's Available?<br /><br />Approved online or non-traditional courses</h3>
<% @courses.each do |course| %>
<div id="courses_item">
<div class="item_desc">
    <b><%= course.title %></b><br />
    <%= truncate(course.description, :length => 140, :separator => ' ') %> <%= link_to("more", course) %>
	<p><b>Subject: </b> <%= course.subject.name %></p>
    <%= course.notes %>
    <%= course.plan_url %>
	</div>
</div>
<% end %>
</div>
</div>

<div id="teachers">
<h3>Who's Available to Help?<br /><br />Teachers </h3>

<div class="clearfix"  id="teachers_bar">
<% @teachers.each do |teacher| %>
<div id="teachers_item">
<div class="item_desc">
    <b>Mr. Ed Jones<%# teacher.name %></b><br />
    <%= truncate(teacher.bio, :length => 140, :separator => ' ') %> 
	<%= link_to("more", teacher) %>
	<p><b>Subject: </b> <%= teacher.subject %></p>
	</div>
</div>
<% end %>
</div>

</div>

</div>