<h1>Listing dares</h1>

<table>
  <tr>
    <th>User</th>
    <th>Message</th>
    <th>Wish</th>
    <th>Challengee twitid</th>
    <th>Challengee email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dares.each do |dare| %>
  <tr>
    <td><%= dare.user_id %></td>
    <td><%= dare.message %></td>
    <td><%= dare.wish_id %></td>
    <td><%= dare.challengee_twitid %></td>
    <td><%= dare.challengee_email %></td>
    <td><%= link_to 'Show', dare %></td>
    <td><%= link_to 'Edit', edit_dare_path(dare) %></td>
    <td><%= link_to 'Destroy', dare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dare', new_dare_path %>
