<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
  <% if !current_user %>
	<% f.radio_button(:role, :student) %> student <br /> <%# f.radio_button(:role, :teacher) %> teacher 
	<% elsif current_user.role == 'admin'   %>
		<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
	<% end %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
    <p>
    <%= f.label :avatar, "Upload an avatar" %><br />
    <%= f.file_field :avatar %>
  </p>
  <p>
  
  
  
  
  
  
  <%= f.fields_for :teacher do |teacher_form| %>
  


  <div class="field">
    <%= teacher_form.label "First Name" %><br />
    <%= teacher_form.number_field :first_name %>
  </div>
    <div class="field">
    <%= teacher_form.label :last_name %><br />
    <%= teacher_form.number_field :last_name %>
  </div>
      <div class="field">
    <%= teacher_form.label :title %><br />
    <%= teacher_form.number_field :title %>
  </div>
  <div class="field">
    <%= teacher_form.label :district %><br />
    <%= teacher_form.text_field :district %>
  </div>
  <div class="field">
    <%= teacher_form.label :school %><br />
    <%= teacher_form.text_field :school %>
  </div>
  <div class="field">
    <%= teacher_form.label :subject %><br />
    <%= teacher_form.text_field :subject %>
  </div>
  <div class="field">
    <%= teacher_form.label :specialty %><br />
    <%= teacher_form.text_field :specialty %>
  </div>
  <div class="field">
    <%= teacher_form.label :bio %><br />
    <%= teacher_form.text_area :bio %>
  </div>
  <div class="field">
    <%= teacher_form.label :notes %><br />
    <%= teacher_form.text_area :notes %>
  </div>
  
  
  <% end %>
  
  
  
  
  
  
    <%= f.submit %>
  </div>
<% end %>
