<h1>Questions</h1>


<% @requests.each do |request| %>
<div class='request3'>
    <%= image_tag(request.user.avatar, :class => 'avatar') if request.user.avatar?%>
    <div class='request4'
	<b>Goals:</b><br />
	<%= request.goals %>
    <hr />
	Help Needed<br />
    <%= request.help_needed %>
	<p><%= request.portfolio_id %></p>
    <%= link_to('View/anwser request', request, :class => 'show_button') %>
    <p> 
	<% if can? :manage, request %>
		<% link_to 'Edit', edit_request_path(request) %>
		<% link_to 'Destroy', request, confirm: 'Are you sure?', method: :delete %></p>
	<% end %>

	</div>
</div>
<% end %>

<br />
<% if can? :create, request %>
<%= link_to 'New Request', new_request_path %>
<% end %>