<p id="notice"><%= notice %></p>
<div class="form">
<p>
<div id="request_header">
Question: <b><%= @request.topic %></b>
</div>
  <%= image_tag( @request.user.avatar.url.to_s, :class => "rq_avatar") if @request.user.avatar? %>
<div id="request_body">


  <h5>Goals:</h5>
<p>  <%= @request.goals %>
</p>

  <h5>Help needed:</h5>
<p>  <%= @request.help_needed %>
</p>

<p>
  Portfolio:
  <%= @request.portfolio_id %>
|
<% if can? :update, @request %>
	<%= link_to 'Edit', edit_request_path(@request) %>
<% end %>
</p>
<%= button_to 'Help answer', new_response_path, :class => "help_button" %>
</div>

<div id="answers">

<div id="answers_header">
<%= pluralize(@responses.count, 'Answer') %>
</div>
<% @responses.each do |response| %>
    <%= content_tag_for(:div, response) do %>
		
		<div class="response_user">
		
		<%= image_tag( response.user.avatar.url.to_s, :class => "r_avatar") if response.user.avatar? %>
		<br/><%= response.user.username %> <br />on <%= response.created_at.strftime("%b %d, %Y") %> at <%= response.created_at.strftime("%I:%M%p") %>
		</div>
		<div class="response_text"><%= response.body %></div>
	<% end %>
<% end %>
</div>
<div id="add_response">
<% if @responses.count > 1 %>
	<%= button_to 'Help answer', new_response_path, :class => "help_button" %>
<% end %>
</div>



<%= link_to 'Back', requests_path %>


</div>