<div class="form">
<p>
<div id="request_header">
Question: <b><%= @request.topic %></b>
</div>
  <%= image_tag( @request.user.avatar.url.to_s, :class => "rq_avatar") if @request.user.avatar? %>
<div id="request_body">


  <h5>Goals:</h5>
<p>  <%= @request.goals %>
</p>

  <h5>Help needed:</h5>
<p>  <%= @request.help_needed %>
</p>

<p>
  Portfolio:
  <%= @request.portfolio_id %>
|
<% if can? :update, @request %>
	<%= link_to 'Edit', edit_request_path(@request) %>
<% end %>
</p>
<%= link_to'Help answer', '#respond', :class => "help_button"  %>
<%# link_to'Help answer', add_response_request_path(:request_id => @request ), :remote => true, :method => "get", :class => "help_button"  %>

</div>

<div id="answers">

<div id="answers_header">
<%= pluralize(@responses.count, 'Answer') %>
</div>
<% @responses.each do |response| %>
    <%= content_tag_for(:div, response) do %>
		
		<div class="response_user">
		
		<%= image_tag( response.user.avatar.url.to_s, :class => "r_avatar")  %>
		<br/><%= response.user.username %> <br />on <%= response.created_at.strftime("%b %d, %Y") %> at <%= response.created_at.strftime("%I:%M%p") %>
		</div>
		<div class="response_text">
		<%= response.body %>
		 <div class='response_edit'>
		 <% if can? :update, response %>
		    <%= link_to 'Edit', edit_response_path(response) %>
			<% end %>
		<% if can? :destroy, response %>
			<%= link_to 'Delete', response, confirm: 'Are you sure?', method: :delete %> 
		<% end %>
		</div>
		</div>
	<% end %>
<% end %>
</div>
<div id="add_response">
<a name='respond' />
<% if @responses.count > 1 %>
	<%= button_to 'Help answer', new_response_path, :class => "help_button" %>
<% end %>
</div>

<div>
<p>&nbsp;</p>
</div>
<div id="respond">

<%= form_for(@response_new) do |f| %>
  <% if @response_new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response_new.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response_new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# f.label :request %><br />
    <%# f.number_field :request_id %>
	<%= f.hidden_field :request_id %>
	<%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.label 'your answer' %><br />
    <%= f.text_area :body %>
  </div>
  
  
  <% if current_user.try(:role) == 'admin' %>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.number_field :user_id %>
	<% else %>
	<%= current_user.try(:role) %>
  </div>
  <% end %>
 <p>
 </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>


<%= link_to 'Back', requests_path %>


</div>