<div class="content">
<div id="pcolumn">
<h1>CF projects</h1>



<% @projects.each do |project| %>
<div class="project3" >
<div class = "project_img">
<%= image_tag( project.projekt.url.to_s) if project.projekt? %>
</div>
<div class = "project4" >
   <span class="ptitle"><%= project.title %></span><br />
    Student: <%= project.student.user.username if project.student %> | 
    Teacher:<%= project.teacher_id %> <br /><br />
    <%= simple_format((project.summary)) %>
	
    <%= link_to 'more', project %>
	<p>Status:<%= project.status %> | 
    Portfolio<%= project.portfolio_id %><br /></p>
    
	<% if can? :manage, project %>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
	<% end %>
</div>
</div>

<% end %>
<%= link_to('New Project', new_project_path, :class => "add_button") %>
</div>


<br />
<br />
<div id="bottom"><%=link_to("Credits", "/lycee/credits", :id => 'bottom_nav') %></div>
</div>