<h1>Listing responses</h1>

<table>
  <tr>
    <th>Request</th>
    <th>Title</th>
    <th>Body</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @responses.each do |response| %>
  <tr>
    <td><%= response.request %></td>
    <td><%= response.title %></td>
    <td><%= response.body %></td>
    <td><%= image_tag( response.user.avatar.url.to_s, :class => "avatar") if (response.user && response.user.avatar? ) %></td>
    <td><%= link_to 'Show', response %></td>
    <td><% if can? :manage, response %>
		<%= link_to 'Edit', edit_response_path(response) %> <%= link_to 'Destroy', response, confirm: 'Are you sure?', method: :delete %></td>
		<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Response', new_response_path %>
