<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @response.request %>
</p>

<p>
  <b>Title:</b>
  <%= @response.title %>
</p>

<p>
  <b>Body:</b>
  <%= @response.body %>
</p>

<p>
  <b>User:</b>
  <%= @response.user %>
</p>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
