<div class="content">
<h1>Mentors / Teachers</h1>


<div class="clearfix" id="nursery_bar">
<% @teachers.each do |teacher| %>
<div class='mentor'>

    
	<b><%= teacher.title %><%= teacher.first_name %>&nbsp;<%= teacher.last_name %></b><br />
	<div class='mentor_badge'>
	<%= image_tag( teacher.avatar.url.to_s, :class => "m_avatar") if teacher.avatar? %>
	<%= teacher.user.username %>
	</div>    
	District:<%= teacher.district %>, School: <%= teacher.school %>
    Subject, Specialty<%= teacher.subject %> <%= teacher.specialty %>

    <p><%= teacher.bio %>
    Notes: <%= teacher.notes %>
    <%= link_to 'More', teacher %>
	<% if can? :manage, teacher %>
    <%= link_to 'Edit', edit_teacher_path(teacher) %>
    <%= link_to 'Destroy', teacher, confirm: 'Are you sure?', method: :delete %>
	<% end %>
  </div>
<% end %>
</div>

<br />
<%=link_to("Add teacher or mentor", new_teacher_path, :class => "add_button3") %>
<div>

</div>
<div class="clear">
</div>