<h1>Listing teachers</h1>

<table>
  <tr>
    <th>User</th>
    <th>District</th>
    <th>School</th>
    <th>Subject</th>
    <th>Specialty</th>
    <th>Bio</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.username %></td>
    <td><%= teacher.district %></td>
    <td><%= teacher.school %></td>
    <td><%= teacher.subject %></td>
    <td><%= teacher.specialty %></td>
    <td><%= teacher.bio %></td>
    <td><%= teacher.notes %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
