<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# f.label :Contributor %><br />
    <%# @resource.user.username %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%# f.text_field :category %>
	<%= f.collection_select :category, Resource::CATEGORIES, :to_s, :humanize %>
  </div>
  <div class="field">
    <%= f.label :county %><br />
    <%= f.text_field :county %>
	<%# f.collection_select :district, Resource::DISTRICTS, :to_s, :humanize %>
  </div>
    <div class="field">
    <%= f.label 'School district' %><br />
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label 'URL for resource' %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
