<div id="featured">

<%= image_tag("competition.jpg", {:height => 300}) %>
<div id="feature_graphic">
<div id="main_text">

<%= image_tag("cf_word_map.png", {:height => 280}) %>
</div>

</div>
</div>





<div id="feature_text">
<h1>Why Use Credit Flexibility?  

How?</h1>


<div id="main_text">
<div id="intro">
Get out of class! You can get credit toward high school graduation by <i>doing almost anything.</i></div>
<p>Play the Blues, take a trip, get an internship, do research, start a business, take a class outside school, go to iTunesU, you name it!
</p>
<%= link_to("Is it Rigorous?", "lycee/rigor", :id => "rigor_button") %>
<p class="learn_more">How?<br />
<ul class='learn_more'>
<li><%= link_to 'Explore the ideas here, ask a question', :root  %>.</li>
<li>Talk to your guidance counselor, principal, or teacher. </li>
<li>Visit <a href="http://www.facebook.com/pages/Ohio-Credit-Flexibility/177300152280207">Ohio Credit Flexibility on Facebook</a>.
<li>visit the <a href="http://www.education.ohio.gov/GD/Templates/Pages/ODE/ODEDetail.aspx?page=3&TopicRelationID=1864&ContentID=82751">Credit Flexibility pages</a> at the Ohio Department of Education.</p></p><p></p><p></p>
</ul>

Teachers, parents, others, have something to ask or contribute about the process? 
<ul>
<li>Explore or ask a question at the <a href="http://www.sharedwork.org/group/ohio-credit-flexibility/home1">ODE Community of Practice</a> and get in on the discussion.</li>
<li><%= link_to 'Sign up here as a teacher/mentor', new_teacher_path %></li>
</ul>
</p>

</div>
<iframe id="video" src="http://www.youtube.com/embed/jDxxVABMOOc" frameborder="0" allowfullscreen></iframe>
<% image_tag("students.jpg", {:id => 'photo'}) %>
</div>

<%= render(:partial => 'ode_guidance') %>

<p class="not_ohio">Not in Ohio? Credit Flexibility may be coming to your state!</p>




<h1>Credit Flex Resources</h1>
This area will contain a sortable list of district-by district plans, forms, and other resources.



<% @resources.each do |resource| %>

  <div class='resource'>
    
    Category:<%= resource.category %>&nbsp;&nbsp;<%= link_to 'Link', resource.url %><br />
	<%= resource.district %>
    <p><%= resource.description %></p>
    <%# resource.author_id %><%# resource.viewed %>
	<%= link_to 'more', resource %>
	</div>

<% end %>


<br />

<%= link_to 'New Resource', new_resource_path %>
