
<div id="page_title">Proposals</div>

<p>This work area is for students ready to begin writing a proposal to present to their teacher or guidance councillor.
</p>
However, it may also be used by teachers who wish to build a template for specific project types.

<div id="warning"> 
<h3>Students</h3>
<span class="reddish">Your district/school may likely have a specific form or format. </span>
<p><%= image_tag("arrow_button_green_right.png") %> Check with your guidance councilor before proceeding far.</p>
<p>This format is only a planning tool.</p>


</div>

<%= link_to('New Proposal', new_proposal_path, :class => "add_button") %>


<h2>Listing proposals</h2>

<table>
  <tr>
    <th>Student</th>
    <th>Portfolio</th>
    <th>Proposal type</th>
    <th>Title</th>
    <th>Goals</th>
    <th>Description</th>
    <th>Questions</th>
    <th>Resources</th>
    <th>Assessment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <div class="container1"><tr class="container1">
  
    <td><%= proposal.student_id %></td>
    <td><%= proposal.portfolio_id %></td>
    <td><%= proposal.proposal_type_id %></td>
    <td><%= proposal.title %></td>
    <td><%= proposal.goals %></td>
    <td><%= proposal.description %></td>
    <td><%= proposal.questions %></td>
    <td><%= proposal.resources %></td>
    <td><%= proposal.assessment %></td>
    <td><%= link_to 'Show', proposal %></td>
    <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
    <td><%= link_to 'Destroy', proposal, confirm: 'Are you sure?', method: :delete %></td>
		
  </tr></div>
<% end %>
</table>

<br />

<%= link_to 'New Proposal', new_proposal_path %>
