<div id="respond">

<%= form_for(@response_new) do |f| %>
  <% if @response_new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response_new.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response_new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# f.label :request %><br />
    <%# f.number_field :request_id %>
	<%= f.hidden_field :request_id %>
	<%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.label 'your answer' %><br />
    <%= f.text_area :body %>
  </div>
  
  
  <% if current_user.try(:role) == 'admin' %>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.number_field :user_id %>
	<% else %>
	<%= current_user.try(:role) %>
  </div>
  <% end %>
 <p>
 </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>