
<% @courses.each do |course| %>

<div class="course2">
	<%= image_tag( course.course_image.url.to_s, :class => "course_avatar") if course.course_image? %>
    <span class="course_title"><%= course.title %></span><br />
	Subject area: <%= course.subject.name %>
	<p><%= simple_format(h(course.description)) %></p>

    <p><b>Notes:</b> <%= course.notes %></p>
    <%= link_to 'More', course %> 
	<%= link_to 'Course link', course.plan_url %>
    
	<% if can? :update, course %>
    <%= link_to 'Edit', edit_course_path(course) %>
    <%= link_to 'Destroy', course, confirm: 'Are you sure,?', method: :delete %>
	<% end %>
</div>
<% end %>
