<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Subject</b>
  <%= @course.subject.name %>
</p>

<p>
  <b>Curriculum URL?</b>
  <%= @course.curriculum_url %>
</p>

<p>
  <b>Notes:</b>
  <%= @course.notes %>
</p>

<p>
  <b>Plan url:</b>
  <%= @course.plan_url %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
