<div class="content">
<p id="notice"><%= notice %></p>

<%= image_tag( @course.course_image.url.to_s, :class => "course_avatar") if @course.course_image? %>
<p>
  <b>Title:</b>
  <span class="course_title"><%= @course.title %></span>
</p>

<p>
  <b>Description:</b><br />
  <%= @course.description %>
</p>

<p>
  <b>Subject:</b>
  <%= @course.subject.name %>
</p>

<p>
  <b>Curriculum URL</b><br/>
  <%= link_to(@course.curriculum_url, @course.curriculum_url) %>
</p>

<p>
  <b>Notes:</b>
  <%= @course.notes %>
</p>

<p>
  <b>Plan url</b>
  <%= link_to(@course.plan_url, @course.plan_url) %>
</p>

<% if can? :update, @course %>
<%= link_to 'Edit', edit_course_path(@course) %>
<% end %> |
<%= link_to 'All courses', courses_path %>
</div>