<div class="content">
<p id="notice"><%= notice %></p>

<%= image_tag( @course.course_image.url.to_s, :class => "course_avatar") if @course.course_image? %>
<p>
  <b>Title:</b>
  <span class="course_title"><%= @course.title %></span>
</p>

<p>
  <b>Description:</b><br />
  <%= simple_format(h(@course.description)) %>
</p>
<%= if @course.hqt == true then link_to(image_tag("penguin_thumb_up.png", :class => "hqt_needed"), @course)  else link_to(image_tag("penguin_question.png", :class => "hqt_needed"), @course) end %>

<p>
  <b>Subject:</b>
  <%= @course.subject.name %>
</p>

<div>
  <b>Curriculum URL</b><br/>
  <%= link_to(@course.curriculum_url, @course.curriculum_url) %>
</div>
<div>
  <b>Plan url</b>
  <%= link_to(@course.plan_url, @course.plan_url) %>
</div>
<p>
  <b>Notes:</b>
  <%= @course.notes %>
</p>



<% if can? :update, @course %>
<%= link_to 'Edit', edit_course_path(@course) %>
<% end %> |
<%= link_to 'All courses', courses_path %>

<div class='clear'>
<div id="comment_section">
<div id="comments">
   <%= render 'comments' %>
</div>
<% if can? :create, Comment %>
<div id="new_comment">
   <%= render 'comment_form' %>
</div>
<% else %>
<div id="new_comment">
<h3>You say...</h3>
<div class="warning">Must be logged in to add comments.</div>
</div>
<% end %>
<div class='clear'>
</div>
</div>