<div id="challenge_progress">
<ul>
<li id="prog1" class="challenge_progress"><%= image_tag("checkmark_25.gif", :id => "check1") %>Credit Value</li>
<li id="prog2" class="challenge_progress"><%= image_tag("checkmark_25.gif", :id => "check2") %>Description</li>
<li id="prog3" class="challenge_progress"><%= image_tag("checkmark_25.gif", :id => "check3") %>Subject</li>
<li id="prog4" class="challenge_progress"><%= image_tag("checkmark_25.gif", :id => "check4") %>Needs</li>
<li id="prog5" class="challenge_progress"><%= image_tag("checkmark_25.gif", :id => "check5") %>Milestones</li>
<li id="prog6" class="challenge_progress"><%= image_tag("checkmark_25.gif", :id => "check6") %>Assessment</li>
</ul>
</div>