<div id="challenge">
<div id="rightside">
<div id="badge_holder">

<div id="badge_title"></div>
<div id="badge_image"></div>
<div id="badge_subject"></div>

</div>
<div id="now_what">
<button type="button", onclick="displayNext()", class="d_button" >Now what?</button>
</div>
</div>
<div id="leftside">
<div id="challenge_options2">
<br />
<br />

<p></p>
<%# link_to("I have my own ideas about what to do.", new_challenge_path, :id => "add_project", :class => "b_button") %>

<button type="button", onclick="displayChallenge()", class="b_button" >I have my own ideas about what to do.</button>
</div>

<%= form_for @challenge, remote: true  do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div id="credit_amount" class="challenge_details" >
<p>Great! Let's get going.</p>
<div id="hidden_name">
Challenge name: 
<%= f.text_field :name %>
</div>

<p><label for="cf_credit_value">How much credit will you earn?</label><br />

<%= f.radio_button(:credit, "quarter") %>
<%= label_tag(:credit_quarter, "1/4 credit") %>
<%= f.radio_button(:credit, "half") %>
<%= label_tag(:credit_half, "1/2 credit") %>
<%= f.radio_button(:credit, "full") %>
<%= label_tag(:credit_full, "full credit") %><br />
<%= f.radio_button(:credit, "partial") %>
<%= label_tag(:credit_partial, "partial credit") %>


    <%= f.submit %>

		<% end %>
		
   <button type="button", onclick="challengeView2()", class="c_button" >Next</button> 
</div>

<div id="wizard">
</div>

<button type="button", onclick="challengeDone()", class="c_button", id="done-button" >Done</button> 
</div>


<div id="challenge_view_done" class="challenge_details" >
Congrats. You've got a CF concept!<p>Here's your draft badge:</p>
<div id="badge_holder_2">

</div>
</div>

<div id="execution_view" class="challenge_details" >
What's next? Lots!

You can
<p>Start bringing a teacher, counseler, or administrator on board.</p>
<p>Fire over to BadgeForge.com to develop some incremental badges for your plan.</p>
<p>Challenge other students to work on their plan, or join yours</p>
<p>Continue developing your plan some more.<p>

Remember! You must have a teacher or admin's approve your plan!
<div id="badge_holder_2">

</div>
</div>
  <div id="challenge-save" class="actions">

  </div>

<%# submit_tag("Save") %>

</div>
</div>