<script>
challengeTitle = '<%= @wish.wish %>'
quarterBadge = '<img src="<%= asset_path("badges/quarter.png")%>", class="challenge_badge" >';
halfBadge = '<img src="<%= asset_path("badges/half.png")%>", class="challenge_badge" >';
fullBadge = '<img src="<%= asset_path("badges/full.png")%>", class="challenge_badge" >';
partialBadge = '<img src="<%= asset_path("badges/partial.png")%>", class="challenge_badge" >';
</script> 
<div class="content1">
<div class="content_challenge_inner">
<h3>New challenge</h3>


  <b>You want to learn:</b><br />
  <div class="wish_title"><%= @wish.wish %></div>
  <a href="", id="add_image", onclick="pickChallengeImage()" >Add an image for your challenge</a>
 
<% if @wish.challenge_id.nil? || @wish.challenge.challengepic.nil? %>
    <%=  (link_to 'Add an image to your challenge', add_image_challenge_path(@wish), remote: true )  %>
<% else %>
Challenge:   <%= @challenge.id %>
    <%= image_tag( @challenge.challengepic.url ) %>
<% end %>	
</p>
<%= render 'challenge_wizard' %>

<%= render 'challenge_progress' %>

</div>
<%= link_to 'Back', challenges_path %>
</div>




<div id="select_image">


</div>



<div id="modal-container5" class="modal-container5">
<div id="upload-dialogue" class="uploader-popup">
<div id="modal-header">
<div id="modal-close"><span id="modal-close2">X</span></div>
<div class="modal-title"> </div>
<div id="challenge-title"><%= @challenge.name %> </div>
</div>

</div>
</div>

