<script>
challengeTitle = '<%= @challenge.name %>'
quarterBadge = '<img src="<%= asset_path("badges/quarter.png")%>", class="challenge_badge" >';
halfBadge = '<img src="<%= asset_path("badges/half.png")%>", class="challenge_badge" >';
fullBadge = '<img src="<%= asset_path("badges/full.png")%>", class="challenge_badge" >';

</script> 

<div class="content1">
<div class="content_challenge_inner">

<p id="notice"><%= notice %></p>



Challenge underway. <br />


  <b>You want to learn:</b><br />
  <div class="wish_title"><%= @challenge.name %></div>
  <span id="add_image" >Add an image for your challenge</span>

<div  class="challenge_details" >
Congrats. You've got a CF concept!<p>Here's your draft badge:</p>
<div class="badge_holder_3">
<b><%= @challenge.name %></b><br />
<%= image_tag('badges/' + @challenge.credit + '.png', :class => 'badge_holder_3') %>
</div>
</div>

<div class="challenge-summary">
<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>User:</b>
  <%= @challenge.user_id %>
</p>

<p>
  <b>Credit:</b>
  <%= @challenge.credit %>
</p>

<p>
  <b>Subject:</b>
  <%= Subject.find(@challenge.subject).name %>
</p>


<p>
  <b>Teacher:</b>
  <%= @challenge.teacher %>
</p>

<p>
  <b>Goals:</b>
  <%= @challenge.goal %>
</p>

<p>
  <b>Needs:</b>
  <%= @challenge.needs %>
</p>

<p>
<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
</p>
----------------------------------------------------------------------------

<p>
  <b>Badge name:</b>
  <%= @challenge.badge_name %>
</p>

<p>
  <b>Badge:</b>
  <%= @challenge.badge_id %>
</p>
</div>
</div>
</div>


<div id="modal-container5" class="modal-container5">
<div id="upload-dialogue" class="uploader-popup">

stuff

</div>
</div>

<script>

$(document).ready(function (){
  
 $('span#add_image').hover(function(){
   $('span#add_image').toggleClass('text-hover');
  });
  
 $('span#add_image').click(function(){
    $('div#modal-container5').show();
  });

});

</script> 
