<div class="content1">
<div class="content_challenge_inner">

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @challenge.name %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>User:</b>
  <%= @challenge.user_id %>
</p>

<p>
  <b>Credit:</b>
  <%= @challenge.credit %>
</p>

<p>
  <b>Subject:</b>
  <%= Subject.find(@challenge.subject).name %>
</p>


<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Teacher</b>
  <%= @challenge.teacher %>
</p>

<p>
  <b>Goals:</b>
  <%= @challenge.goal %>
</p>

<p>
  <b>Needs:</b>
  <%= @challenge.needs %>
</p>

<p>
<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
</p>
----------------------------------------------------------------------------

<p>
  <b>Badge name:</b>
  <%= @challenge.badge_name %>
</p>

<p>
  <b>Badge:</b>
  <%= @challenge.badge_id %>
</p>

</div>
</div>