<!DOCTYPE html>
<html>
<head>
  <title>Questions - Ohio Credit Flexibility</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "requests" %>
  <%= stylesheet_link_tag    "headers" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render(:partial => "shared/header") %>
<div class="clear"></div>

<%= yield %>

</body>
</html>
